<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/waa_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/waa_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Winterlaang"
        tools:targetApi="31">
        <activity
            android:name=".waaSignup"
            android:exported="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.winterlaang.waaSignup" />
        </activity>
        <activity
            android:name=".waaSplash"
            android:exported="true"
            android:theme="@style/waatheme1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.lib_name"
                android:value="com.example.winterlaang.waaSplash" />
        </activity>
        <activity
            android:name=".waaLogin"
            android:exported="true"
            android:theme="@style/waatheme2">

            <meta-data
                android:name="android.app.lib_name"
                android:value="com.example.winterlaang.waaLogin" />
        </activity>
    </application>

</manifest>